.header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #0169aa, #363795);
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.header h3,
p {
    color: #fff;
}

.header span {
    font-size: 1.2rem;
}

.header img {
    width: 61px;
    height: auto;
}