.cities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.cities ul {
    list-style: none;
    color: #fff;
}

.cities ul li {
    width: 200px;
    background-color: #6c5ce7;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
}


.cities ul li:hover {
    transform: scale(1.03);
    background-color: #ffffff;
    color: #000;
}

.cities ul li:hover::after {
    content: " - Click Me!";
    color: #6c5ce7;
    font-weight: bold;
}

.cities a {
    text-decoration: none;
    color: #fff;
}