.searchbox {
  position: relative;
  width: 600px;
  height: auto;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 80px 0 80px 0;
}


.searchbox h2 {
  position: absolute;
  left: 112px;
  top: 71px;
  z-index: 99;
  font-size: 1.5rem;
  color: #e4e4e4;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  --timing: 0.3s;
  --width-of-input: 400px;
  --height-of-input: 50px;
  --border-height: 6px;
  --input-bg: #fff;
  --border-color: #700000;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
  box-shadow: 0px 0px 30px 0px #ffffff;
}

.input {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  z-index: 1000;
}


.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;

}

.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}

.form:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}

input:not(:placeholder-shown)~.reset {
  opacity: 1;
  visibility: visible;
}


.alert {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  right: auto;
  top: auto;
  width: 300px;
  height: 20px;
  background-color: #ffc3c3;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  color: #181515;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 4px solid #bb0e0e;
  animation: identifier 1s 1;
}